body {
    margin: 0;
    padding: 0;
    background-color: darkslategray;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 10px auto;
    border: 1px solid aliceblue;
}

.box-one {
    display: flex;
    justify-content: center;
}

.square {
    width: 100px;
    height: 100px;
    border: 1px solid aliceblue;
}

.box-two {
    display: flex;
    justify-content: space-between;
}

.box-three {
    display: flex;
    justify-content: space-between;
}

.square.left {
    margin-left: auto;
}

.box-four {
    position: relative;
    margin-bottom: auto;
}

.square.one {
    position: relative;
    left: 203px;
}

.square.two {
    margin-left: 233px;
    margin-top: -63px;
}

.square.three {
    margin-left: 263px;
    margin-top: -63px;
}

.slick_slider {
    padding-top: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.slick_slider {
    min-width: 0;
}

.slider {
    position: relative;
    margin: 0 auto;
}

.slider_item img {
    width: 100%;
    max-width: 640px;
    height: 400px;
}

.slick-track {
    display: flex;
}

.slick-list {
    overflow: hidden;
}

.slick-slide {
    margin: 0 auto;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    font-size: 0;
    width: 30px;
    height: 60px;
    border: none;
    z-index: 10;
}

.slick-arrow.slick-prev {
    left: 0;
    background: url("../img/sl-arrow_l.svg") 0 0 / 100% no-repeat;
}

.slick-arrow.slick-next {
    right: 0;
    background: url("../img/sl-arrow_r.svg") 0 0 / 100% no-repeat;
}

.slider .slick-dots {
    margin-right: 45px;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.slider .slick-dots li {
    margin: 0 10px;
}


.slider .slick-dots button {
    position: absolute;
    font-size: 0;
    padding: 0;
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50%;
    background-color: aliceblue;
}

.slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid aliceblue;
    width: 10px;
    height: 10px;
}

.fancy-box {
    padding-top: 100px;
    padding-bottom: 50px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.imglist {
    margin-left: 175px;
}


.imglist img {
    padding: 5px 5px;
    width: 240px;
    height: 160px;
}























